body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
  color: purple
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  font: serif
}

ul li {
  float: left;
  color: blue
}

ul li a {
  display: block;
  color: pink;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: red
}

ul li a:hover {
  background-color: darkolivegreen;
}

.container{
  display: flex;
  justify-content: center;
}


